@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  background: linear-gradient(
    to right bottom,
    #ecc9b2,
    #dbc0a1,
    #d7ebee,
    #ffffff,
    #ffffff
  );
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
